openapi: 3.0.1
info:
  description: API para automação comercial e documentos fiscais.
  title: API Nuvem Fiscal
  version: 2.28.0
servers:
- url: https://api.nuvemfiscal.com.br/
security:
- jwt: []
- oauth2: []
tags:
- name: Cep
- name: Cnpj
- name: Conta
- description: Conhecimento de Transporte Eletrônico.
  name: Cte
- description: Cadastre e administre todas as empresas vinculadas à sua conta.
  name: Empresa
- description: Manifesto Eletrônico de Documentos Fiscais.
  name: Mdfe
- description: Nota Fiscal de Consumidor Eletrônica.
  name: Nfce
- description: Nota Fiscal Fatura de Serviço de Comunicação Eletrônica.
  name: Nfcom
- description: Nota Fiscal Eletrônica.
  name: Nfe
- description: Nota Fiscal de Serviço Eletrônica.
  name: Nfse
paths:
  /cep/{Cep}:
    get:
      operationId: ConsultarCep
      parameters:
      - description: CEP sem máscara.
        in: path
        name: Cep
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CepEndereco'
          description: Successful response
      summary: Consultar endereço através do CEP
      tags:
      - Cep
  /cnpj:
    get:
      description: "Retorna uma lista de estabelecimentos de acordo com os critérios\
        \ de busca utilizados.\r\nSomente serão retornados estabelecimentos com situaç\
        ão cadastral \"Ativa\"."
      operationId: ListarCnpj
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtro pelo código CNAE da atividade principal do estabelecimento.\r\
          \nUtilize o valor sem máscara."
        in: query
        name: cnae_principal
        required: true
        schema:
          type: string
      - description: "Filtro pelo código IBGE ou TOM (Tabela de Órgãos e Municípios)\
          \ do município do estabelecimento.\r\nUtilize o valor sem máscara."
        in: query
        name: municipio
        required: true
        schema:
          type: string
      - description: "Filtro pela natureza jurídica do estabelecimento\r\n Utilize\
          \ o valor de quatro dígitos sem máscara."
        in: query
        name: natureza_juridica
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnpjListagem'
          description: Successful response
      summary: Listar estabelecimentos ativos a partir da base de CNPJ
      tags:
      - Cnpj
  /cnpj/{Cnpj}:
    get:
      operationId: ConsultarCnpj
      parameters:
      - description: CNPJ sem máscara.
        in: path
        name: Cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnpjEmpresa'
          description: Successful response
      summary: Consultar dados do CNPJ
      tags:
      - Cnpj
  /conta/cotas:
    get:
      operationId: ListarCotasConta
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContaCotaListagem'
          description: Successful response
      summary: Consultar os limites de uso e consumo de todas as cotas existentes.
      tags:
      - Conta
  /conta/cotas/{nome}:
    get:
      operationId: ConsultarCotaConta
      parameters:
      - description: Nome da cota a ser consultada.
        in: path
        name: nome
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContaCota'
          description: Successful response
      summary: Consultar o limite de uso e o consumo de uma cota específica.
      tags:
      - Conta
  /cte:
    get:
      description: "Retorna a lista de CT-e de acordo com os critérios de busca utilizados.\
        \ Os CT-e são retornados ordenados pela data da criação, com os mais recentes\
        \ aparecendo primeiro."
      operationId: ListarCte
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\n\r\nUtilize o valor\
          \ sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: Seu identificador único para o documento.
        in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      - description: Chave de acesso do DF-e.
        in: query
        name: chave
        schema:
          type: string
      - description: Série do DF-e.
        in: query
        name: serie
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeListagem'
          description: Successful response
      summary: Listar CT-e
      tags:
      - Cte
    post:
      operationId: EmitirCte
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Emitir CT-e
      tags:
      - Cte
      x-codegen-request-body-name: body
  /cte/eventos/{id}:
    get:
      operationId: ConsultarEventoCte
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEvento'
          description: Successful response
      summary: Consultar evento
      tags:
      - Cte
  /cte/eventos/{id}/pdf:
    get:
      operationId: BaixarPdfEventoCte
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do evento
      tags:
      - Cte
  /cte/eventos/{id}/xml:
    get:
      operationId: BaixarXmlEventoCte
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do evento
      tags:
      - Cte
  /cte/sefaz/status:
    get:
      description: "Consulta do status do serviço prestado pelo Portal da Secretaria\
        \ de Fazenda Estadual.\r\n\r\nA Nuvem Fiscal mantém a última consulta em cache\
        \ por 5 minutos, evitando sobrecarregar desnecessariamente os servidores da\
        \ SEFAZ (conforme orientação do MOC - versão 3.0.0a, item 4.6.3). Dessa forma,\
        \ você poderá chamar esse endpoint quantas vezes quiser, sem preocupar-se\
        \ em ter o seu CNPJ bloqueado por consumo indevido (Rejeição 656)."
      operationId: ConsultarStatusSefazCte
      parameters:
      - description: "CPF/CNPJ do emitente.\r\nUtilize o valor sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: "Ambiente Autorizador.\r\n\r\nAutorizadores disponíveis: `MT`,\
          \ `MS`, `MG`, `PR`, `RS`, `SP`, `SVRS`, `SVSP`, `AN`.\r\n\r\n*Caso não seja\
          \ informado, será utilizado o ambiente autorizador da UF do emitente.*"
        in: query
        name: autorizador
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSefazStatus'
          description: Successful response
      summary: Consulta do Status do Serviço na SEFAZ Autorizadora
      tags:
      - Cte
  /cte/{id}:
    get:
      description: Consulta os detalhes de um CT-e já existente. Forneça o ID único
        obtido de uma requisição de emissão ou de listagem de CT-e e a Nuvem Fiscal
        irá retornar as informações do CT-e correspondente.
      operationId: ConsultarCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Consultar CT-e
      tags:
      - Cte
  /cte/{id}/cancelamento:
    get:
      operationId: ConsultarCancelamentoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Consultar o cancelamento do CT-e
      tags:
      - Cte
    post:
      operationId: CancelarCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtePedidoCancelamento'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Cancelar um CT-e autorizado
      tags:
      - Cte
      x-codegen-request-body-name: body
  /cte/{id}/cancelamento/pdf:
    get:
      operationId: BaixarPdfCancelamentoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do cancelamento
      tags:
      - Cte
  /cte/{id}/cancelamento/xml:
    get:
      operationId: BaixarXmlCancelamentoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do cancelamento
      tags:
      - Cte
  /cte/{id}/carta-correcao:
    get:
      operationId: ConsultarCartaCorrecaoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CteCartaCorrecao'
          description: Successful response
      summary: Consultar a solicitação de correção do CT-e
      tags:
      - Cte
    post:
      description: "É possível enviar até 20 correções diferentes, sendo que será\
        \ válido sempre a última correção enviada."
      operationId: CriarCartaCorrecaoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtePedidoCartaCorrecao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CteCartaCorrecao'
          description: Successful response
      summary: Solicitar correção do CT-e
      tags:
      - Cte
      x-codegen-request-body-name: body
  /cte/{id}/carta-correcao/pdf:
    get:
      operationId: BaixarPdfCartaCorrecaoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF da carta de correção
      tags:
      - Cte
  /cte/{id}/carta-correcao/xml:
    get:
      operationId: BaixarXmlCartaCorrecaoCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da carta de correção
      tags:
      - Cte
  /cte/{id}/pdf:
    get:
      operationId: BaixarPdfCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Imprime o documento com logotipo, desde que esteja cadastrado\
          \ na empresa."
        in: query
        name: logotipo
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do DACTE
      tags:
      - Cte
  /cte/{id}/sincronizar:
    post:
      description: "Realiza a sincronização dos dados a partir da consulta da situaç\
        ão atual da CT-e na Base de Dados do Portal da Secretaria de Fazenda Estadual.\r\
        \n\r\n**Cenários de uso**:\r\n* Sincronizar um CT-e que se encontra com o\
        \ status `erro` na Nuvem Fiscal, mas está autorizado na SEFAZ (útil em casos\
        \ de erros de transmissão com a SEFAZ, como instabilidades e timeouts).\r\n\
        * Sincronizar um CT-e que se encontra com o status `autorizado`na Nuvem Fiscal,\
        \ mas está cancelado na SEFAZ.\r\n* Sincronizar todos os eventos de Cancelamento\
        \ e Carta de Correção de um CT-e que porventura não tenham sido feitos a partir\
        \ da Nuvem Fiscal."
      operationId: SincronizarCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSincronizacao'
          description: Successful response
      summary: Sincroniza dados no CT-e a partir da SEFAZ
      tags:
      - Cte
  /cte/{id}/xml:
    get:
      description: "Utilize esse endpoint para obter o XML do conhecimento enviado\
        \ para a SEFAZ, complementado com a informação do protocolo de autorizaçã\
        o de uso (TAG raiz `cteProc`).\r\n\r\nO XML só estará disponível nesse endpoint\
        \ caso o conhecimento tenha sido autorizado pela SEFAZ. Para obter o XML nos\
        \ demais casos, utilize o endpoint `GET /cte/{id}/xml/conhecimento`."
      operationId: BaixarXmlCte
      parameters:
      - description: ID único do CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do CT-e processado
      tags:
      - Cte
  /cte/{id}/xml/conhecimento:
    get:
      description: "Utilize esse endpoint para obter o XML do conhecimento enviado\
        \ para a SEFAZ.\r\n\r\nO XML estará disponível nesse endpoint mesmo em casos\
        \ que o conhecimento tenha sido rejeitado."
      operationId: BaixarXmlCteConhecimento
      parameters:
      - description: ID único da CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do CT-e
      tags:
      - Cte
  /cte/{id}/xml/protocolo:
    get:
      operationId: BaixarXmlCteProtocolo
      parameters:
      - description: ID único da CT-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do Protocolo da SEFAZ
      tags:
      - Cte
  /empresas:
    get:
      description: "Retorna a lista das empresas associadas à sua conta. As empresas\
        \ são retornadas ordenadas pela data da criação, com as mais recentes aparecendo\
        \ primeiro."
      operationId: ListarEmpresas
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ da empresa.\r\n\r\n*Utilize o valor\
          \ sem máscara*."
        in: query
        name: cpf_cnpj
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaListagem'
          description: Successful response
      summary: Listar empresas
      tags:
      - Empresa
    post:
      description: Cadastre uma nova empresa (emitente ou prestador) à sua conta.
      operationId: CriarEmpresa
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empresa'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
          description: Successful response
      summary: Cadastrar empresa
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}:
    delete:
      operationId: ExcluirEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successful response
      summary: Deletar empresa
      tags:
      - Empresa
    get:
      operationId: ConsultarEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
          description: Successful response
      summary: Consultar empresa
      tags:
      - Empresa
    put:
      description: "Altera o cadastro de uma empresa (emitente/prestador) que esteja\
        \ associada a sua conta.\r\nNesse método, por tratar-se de um PUT, caso algum\
        \ campo não seja informado, o valor dele será apagado."
      operationId: AtualizarEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empresa'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
          description: Successful response
      summary: Alterar empresa
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/certificado:
    delete:
      operationId: ExcluirCertificadoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successful response
      summary: Deletar certificado
      tags:
      - Empresa
    get:
      operationId: ConsultarCertificadoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaCertificado'
          description: Successful response
      summary: Consultar certificado
      tags:
      - Empresa
    put:
      description: "Cadastre ou atualize um certificado digital e vincule a sua empresa,\
        \ para que possa iniciar a emissão de notas.\r\n* No parâmetro `certificado`,\
        \ envie o binário do certificado digital (.pfx ou .p12) codificado em **base64**."
      operationId: CadastrarCertificadoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaPedidoCadastroCertificado'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaCertificado'
          description: Successful response
      summary: Cadastrar certificado
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/certificado/upload:
    put:
      description: "Cadastre ou atualize um certificado digital e vincule a sua empresa,\
        \ para que possa iniciar a emissão de notas.\r\n* Utilize o `content-type`\
        \ igual a `multipart/form-data`.\r\n* No parâmetro `file`, envie o binário\
        \ do arquivo (.pfx ou .p12) do certificado digital.\r\n* No parâmetro `password`,\
        \ envie a senha do certificado."
      operationId: EnviarCertificadoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnviarCertificadoEmpresa_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaCertificado'
          description: Successful response
      summary: Upload de certificado
      tags:
      - Empresa
  /empresas/{cpf_cnpj}/cte:
    get:
      operationId: ConsultarConfigCte
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigCte'
          description: Successful response
      summary: Consultar configuração de CT-e
      tags:
      - Empresa
    put:
      operationId: AlterarConfigCte
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigCte'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigCte'
          description: Successful response
      summary: Alterar configuração de CT-e
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/logotipo:
    delete:
      operationId: ExcluirLogotipoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successful response
      summary: Deletar logotipo
      tags:
      - Empresa
    get:
      operationId: BaixarLogotipoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar logotipo
      tags:
      - Empresa
    put:
      description: "Cadastre ou atualize um logotipo e vincule a sua empresa.\r\n\r\
        \n**Restrições:**\r\n* Tipos de mídia (MIME) suportados: `image/png` e `image/jpeg`\r\
        \n* Tamanho máximo do arquivo: 200 KB\r\n\r\n**Cenários de uso:**\r\n* Quero\
        \ que minhas notas sejam impressas com esse logotipo.\r\n* Quero trocar o\
        \ logotipo utilizado em minhas impressões."
      operationId: EnviarLogotipoEmpresa
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnviarCertificadoEmpresa_request'
      responses:
        "204":
          content: {}
          description: Successful response
      summary: Enviar logotipo
      tags:
      - Empresa
  /empresas/{cpf_cnpj}/mdfe:
    get:
      operationId: ConsultarConfigMdfe
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigMdfe'
          description: Successful response
      summary: Consultar configuração de MDF-e
      tags:
      - Empresa
    put:
      operationId: AlterarConfigMdfe
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigMdfe'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigMdfe'
          description: Successful response
      summary: Alterar configuração de MDF-e
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/nfce:
    get:
      operationId: ConsultarConfigNfce
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfce'
          description: Successful response
      summary: Consultar configuração de NFC-e
      tags:
      - Empresa
    put:
      operationId: AlterarConfigNfce
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigNfce'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfce'
          description: Successful response
      summary: Alterar configuração de NFC-e
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/nfcom:
    get:
      operationId: ConsultarConfigNfcom
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfcom'
          description: Successful response
      summary: Consultar configuração de NFCom
      tags:
      - Empresa
    put:
      operationId: AlterarConfigNfcom
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigNfcom'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfcom'
          description: Successful response
      summary: Alterar configuração de NFCom
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/nfe:
    get:
      operationId: ConsultarConfigNfe
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfe'
          description: Successful response
      summary: Consultar configuração de NF-e
      tags:
      - Empresa
    put:
      operationId: AlterarConfigNfe
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigNfe'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfe'
          description: Successful response
      summary: Alterar configuração de NF-e
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /empresas/{cpf_cnpj}/nfse:
    get:
      operationId: ConsultarConfigNfse
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfse'
          description: Successful response
      summary: Consultar configuração de NFS-e
      tags:
      - Empresa
    put:
      operationId: AlterarConfigNfse
      parameters:
      - description: "CPF ou CNPJ da empresa.\r\nUtilize o valor sem máscara."
        in: path
        name: cpf_cnpj
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaConfigNfse'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaConfigNfse'
          description: Successful response
      summary: Alterar configuração de NFS-e
      tags:
      - Empresa
      x-codegen-request-body-name: body
  /mdfe:
    get:
      description: "Retorna a lista de manifestos de acordo com os critérios de busca\
        \ utilizados. Os manifestos são retornados ordenados pela data da criação,\
        \ com os mais recentes aparecendo primeiro."
      operationId: ListarMdfe
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\n\r\nUtilize o valor\
          \ sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: Seu identificador único para o documento.
        in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      - description: Chave de acesso do DF-e.
        in: query
        name: chave
        schema:
          type: string
      - description: Série do DF-e.
        in: query
        name: serie
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeListagem'
          description: Successful response
      summary: Listar MDF-e
      tags:
      - Mdfe
    post:
      operationId: EmitirMdfe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Emitir MDF-e
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/eventos/{id}:
    get:
      operationId: ConsultarEventoMdfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEvento'
          description: Successful response
      summary: Consultar evento do MDF-e
      tags:
      - Mdfe
  /mdfe/eventos/{id}/pdf:
    get:
      operationId: BaixarPdfEventoMdfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do evento
      tags:
      - Mdfe
  /mdfe/eventos/{id}/xml:
    get:
      operationId: BaixarXmlEventoMdfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do evento
      tags:
      - Mdfe
  /mdfe/lotes:
    get:
      description: "Retorna a lista dos lotes de acordo com os critérios de busca\
        \ utilizados. Os lotes são retornados ordenados pela data da criação, com\
        \ os mais recentes aparecendo primeiro."
      operationId: ListarLotesMdfe
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\nUtilize o valor sem\
          \ máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLoteListagem'
          description: Successful response
      summary: Listar lotes de MDF-e
      tags:
      - Mdfe
    post:
      operationId: EmitirLoteMdfe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoEmissaoLote'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLote'
          description: Successful response
      summary: Emitir lote de MDF-e
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/lotes/{id}:
    get:
      description: Consulta os detalhes de um lote já existente. Forneça o ID único
        obtido de uma requisição de emissão ou de listagem de lotes e a Nuvem Fiscal
        irá retornar as informações do lote correspondente.
      operationId: ConsultarLoteMdfe
      parameters:
      - description: ID único do lote gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLote'
          description: Successful response
      summary: Consultar lote de MDF-e
      tags:
      - Mdfe
  /mdfe/nao-encerrados:
    get:
      operationId: ConsultarMdfeNaoEncerrados
      parameters:
      - description: "CPF/CNPJ do emitente.\r\nUtilize o valor sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdfeNaoEncerrados'
          description: Successful response
      summary: Consulta MDF-e não encerrados
      tags:
      - Mdfe
  /mdfe/sefaz/status:
    get:
      description: "Consulta do status do serviço prestado pelo Portal da Secretaria\
        \ de Fazenda Estadual.\r\n\r\nA Nuvem Fiscal mantém a última consulta em cache\
        \ por 5 minutos, evitando sobrecarregar desnecessariamente os servidores da\
        \ SEFAZ (conforme orientação do MOC - versão 3.0.0a, item 4.6.3). Dessa forma,\
        \ você poderá chamar esse endpoint quantas vezes quiser, sem preocupar-se\
        \ em ter o seu CNPJ bloqueado por consumo indevido (Rejeição 656)."
      operationId: ConsultarStatusSefazMdfe
      parameters:
      - description: "CPF/CNPJ do emitente.\r\nUtilize o valor sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: "Ambiente Autorizador.\r\n\r\nAutorizadores disponíveis: `SVRS`.\r\
          \n\r\n*Caso não seja informado, será utilizado o ambiente autorizador da\
          \ UF do emitente.*"
        in: query
        name: autorizador
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSefazStatus'
          description: Successful response
      summary: Consulta do Status do Serviço na SEFAZ Autorizadora
      tags:
      - Mdfe
  /mdfe/{id}:
    get:
      description: Consulta os detalhes de um manifesto já existente. Forneça o ID
        único obtido de uma requisição de emissão ou de listagem de manifestos e a
        Nuvem Fiscal irá retornar as informações do manifesto correspondente.
      operationId: ConsultarMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Consultar manifesto
      tags:
      - Mdfe
  /mdfe/{id}/cancelamento:
    get:
      operationId: ConsultarCancelamentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Consultar o cancelamento do MDF-e
      tags:
      - Mdfe
    post:
      operationId: CancelarMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoCancelamento'
        description: Dados do cancelamento.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Cancelar um MDF-e autorizado
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/{id}/cancelamento/pdf:
    get:
      operationId: BaixarPdfCancelamentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do cancelamento
      tags:
      - Mdfe
  /mdfe/{id}/cancelamento/xml:
    get:
      operationId: BaixarXmlCancelamentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do cancelamento
      tags:
      - Mdfe
  /mdfe/{id}/encerramento:
    get:
      operationId: ConsultarEncerramentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdfeEncerramento'
          description: Successful response
      summary: Consultar encerramento do MDF-e
      tags:
      - Mdfe
    post:
      operationId: EncerrarMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoEncerramento'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdfeEncerramento'
          description: Successful response
      summary: Encerrar um MDF-e autorizado
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/{id}/encerramento/pdf:
    get:
      operationId: BaixarPdfEncerramentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do encerramento
      tags:
      - Mdfe
  /mdfe/{id}/encerramento/xml:
    get:
      operationId: BaixarXmlEncerramentoMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do encerramento
      tags:
      - Mdfe
  /mdfe/{id}/inclusao-condutor:
    post:
      operationId: IncluirCondutorMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoInclusaoCondutor'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdfeInclusaoCondutor'
          description: Successful response
      summary: Incluir um condutor em um MDF-e autorizado
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/{id}/inclusao-dfe:
    post:
      operationId: IncluirDfeMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MdfePedidoInclusaoDfe'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdfeInclusaoDfe'
          description: Successful response
      summary: Incluir um DF-e em um MDF-e autorizado
      tags:
      - Mdfe
      x-codegen-request-body-name: body
  /mdfe/{id}/pdf:
    get:
      operationId: BaixarPdfMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Imprime o documento com logotipo, desde que esteja cadastrado\
          \ na empresa."
        in: query
        name: logotipo
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do DAMDFE
      tags:
      - Mdfe
  /mdfe/{id}/sincronizar:
    post:
      description: "Realiza a sincronização dos dados a partir da consulta da situaç\
        ão atual da MDF-e na Base de Dados do Portal da Secretaria de Fazenda Estadual.\r\
        \n\r\n**Cenários de uso**:\r\n* Sincronizar um manifesto que se encontra com\
        \ o status `erro` na Nuvem Fiscal, mas está autorizado na SEFAZ (útil em casos\
        \ de erros de transmissão com a SEFAZ, como instabilidades e timeouts).\r\n\
        * Sincronizar um manifesto que se encontra com o status `autorizado`na Nuvem\
        \ Fiscal, mas está cancelado ou encerrado na SEFAZ.\r\n* Sincronizar todos\
        \ os eventos de Cancelamento, Encerramento, Inclusão de condutor e Inclusã\
        o de DF-e de um manifesto que porventura não tenham sido feitos a partir da\
        \ Nuvem Fiscal."
      operationId: SincronizarMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSincronizacao'
          description: Successful response
      summary: Sincroniza dados no MDF-e a partir da SEFAZ
      tags:
      - Mdfe
  /mdfe/{id}/xml:
    get:
      description: "Utilize esse endpoint para obter o XML do manifesto enviado para\
        \ a SEFAZ, complementado com a informação do protocolo de autorização ou denegaç\
        ão de uso (TAG raiz `mdfeProc`).\r\n\r\nO XML só estará disponível nesse endpoint\
        \ caso o manifesto tenha sido autorizado ou denegado pela SEFAZ. Para obter\
        \ o XML nos demais casos, utilize o endpoint `GET /mdfe/{id}/xml/manifesto`."
      operationId: BaixarXmlMdfe
      parameters:
      - description: ID único do MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do MDF-e processado
      tags:
      - Mdfe
  /mdfe/{id}/xml/manifesto:
    get:
      description: "Utilize esse endpoint para obter o XML do manifesto enviado para\
        \ a SEFAZ.\r\n\r\nO XML estará disponível nesse endpoint mesmo em casos que\
        \ o manifesto tenha sido rejeitado."
      operationId: BaixarXmlMdfeManifesto
      parameters:
      - description: ID único da MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do MDF-e
      tags:
      - Mdfe
  /mdfe/{id}/xml/protocolo:
    get:
      operationId: BaixarXmlMdfeProtocolo
      parameters:
      - description: ID único da MDF-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do Protocolo da SEFAZ
      tags:
      - Mdfe
  /nfce:
    get:
      description: "Retorna a lista de notas de acordo com os critérios de busca utilizados.\
        \ As notas são retornadas ordenadas pela data da criação, com as mais recentes\
        \ aparecendo primeiro."
      operationId: ListarNfce
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\n\r\nUtilize o valor\
          \ sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: Seu identificador único para o documento.
        in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      - description: Chave de acesso do DF-e.
        in: query
        name: chave
        schema:
          type: string
      - description: Série do DF-e.
        in: query
        name: serie
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeListagem'
          description: Successful response
      summary: Listar NFC-e
      tags:
      - Nfce
    post:
      operationId: EmitirNfce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Emitir NFC-e
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/eventos:
    get:
      description: "Retorna a lista de eventos vinculados a um documento fiscal de\
        \ acordo com os critérios de busca utilizados. Os eventos são retornados ordenados\
        \ pela data da criação, com as mais recentes aparecendo primeiro."
      operationId: ListarEventosNfce
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: ID único gerado pela Nuvem Fiscal para o documento fiscal.
        in: query
        name: dfe_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEventoListagem'
          description: Successful response
      summary: Listar eventos
      tags:
      - Nfce
  /nfce/eventos/{id}:
    get:
      operationId: ConsultarEventoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEvento'
          description: Successful response
      summary: Consultar evento
      tags:
      - Nfce
  /nfce/eventos/{id}/pdf:
    get:
      operationId: BaixarPdfEventoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do evento
      tags:
      - Nfce
  /nfce/eventos/{id}/xml:
    get:
      operationId: BaixarXmlEventoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do evento
      tags:
      - Nfce
  /nfce/inutilizacoes:
    post:
      operationId: InutilizarNumeracaoNfce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DfePedidoInutilizacao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeInutilizacao'
          description: Successful response
      summary: Inutilizar uma sequência de numeração de NFC-e
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/inutilizacoes/{id}:
    get:
      operationId: ConsultarInutilizacaoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeInutilizacao'
          description: Successful response
      summary: Consultar a inutilização de sequência de numeração
      tags:
      - Nfce
  /nfce/inutilizacoes/{id}/pdf:
    get:
      operationId: BaixarPdfInutilizacaoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF da inutilização
      tags:
      - Nfce
  /nfce/inutilizacoes/{id}/xml:
    get:
      operationId: BaixarXmlInutilizacaoNfce
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da inutilização
      tags:
      - Nfce
  /nfce/lotes:
    get:
      description: "Retorna a lista dos lotes de acordo com os critérios de busca\
        \ utilizados. Os lotes são retornados ordenados pela data da criação, com\
        \ os mais recentes aparecendo primeiro."
      operationId: ListarLotesNfce
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\nUtilize o valor sem\
          \ máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLoteListagem'
          description: Successful response
      summary: Listar lotes de NFC-e
      tags:
      - Nfce
    post:
      operationId: EmitirLoteNfce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoEmissaoLote'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLote'
          description: Successful response
      summary: Emitir lote de NFC-e
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/lotes/{id}:
    get:
      description: Consulta os detalhes de um lote já existente. Forneça o ID único
        obtido de uma requisição de emissão ou de listagem de lotes e a Nuvem Fiscal
        irá retornar as informações do lote correspondente.
      operationId: ConsultarLoteNfce
      parameters:
      - description: ID único do lote gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLote'
          description: Successful response
      summary: Consultar lote de NFC-e
      tags:
      - Nfce
  /nfce/previa/pdf:
    post:
      description: "Através desse endpoint, é possível enviar os dados de uma NFC-e\
        \ e gerar uma prévia do DANFCE.\r\n\r\nOs dados de entrada são os mesmos do\
        \ endpoint de emissão de NFC-e (`POST /nfce`)."
      operationId: BaixarPreviaPdfNfce
      parameters:
      - description: "Imprime o documento com logotipo, desde que esteja cadastrado\
          \ na empresa."
        in: query
        name: logotipo
        schema:
          default: false
          type: boolean
      - description: "Imprime mensagem no rodapé do documento.\r\n\r\nO caractere\
          \ `|` (pipe) poderá ser utilizado para definir a quantidade e o alinhamento\
          \ das mensagens.\r\n\r\n**Exemplos de Uso:**\r\n* `\"esquerda\"`\r\n* `\"\
          esquerda|centro\"`\r\n* `\"esquerda|centro|direita\"`\r\n* `\"|centro\"\
          `, `\"|centro|\"`\r\n* `\"|centro|direita\"`\r\n* `\"||direita\"`\r\n* `\"\
          esquerda||direita\"`"
        in: query
        name: mensagem_rodape
        schema:
          type: string
      - description: "Poderá ser impresso apenas o DANFE NFC-e resumido ou ecológico,\
          \ sem o detalhamento dos itens da venda, desde que a Unidade Federada permita\
          \ esta opção em sua legislação e o consumidor assim o solicite."
        in: query
        name: resumido
        schema:
          default: false
          type: boolean
      - description: Imprime o QRCode na lateral do DANFE NFC-e.
        in: query
        name: qrcode_lateral
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Prévia do PDF do DANFCE
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/previa/xml:
    post:
      description: "Através desse endpoint, é possível enviar os dados de uma NFC-e\
        \ e gerar uma prévia do XML, sem a assinatura digital.\r\n\r\nOs dados de\
        \ entrada são os mesmos do endpoint de emissão de NFC-e (`POST /nfce`)."
      operationId: BaixarPreviaXmlNfce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Prévia do XML da NFC-e
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/sefaz/status:
    get:
      description: "Consulta do status do serviço prestado pelo Portal da Secretaria\
        \ de Fazenda Estadual.\r\n\r\nA Nuvem Fiscal mantém a última consulta em cache\
        \ por 5 minutos, evitando sobrecarregar desnecessariamente os servidores da\
        \ SEFAZ (conforme orientação do MOC - versão 7.0, item 5.5.3). Dessa forma,\
        \ você poderá chamar esse endpoint quantas vezes quiser, sem preocupar-se\
        \ em ter o seu CNPJ bloqueado por consumo indevido (Rejeição 656)."
      operationId: ConsultarStatusSefazNfce
      parameters:
      - description: "CPF/CNPJ do emitente.\r\nUtilize o valor sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: "Ambiente Autorizador.\r\n\r\nAutorizadores disponíveis: `AM`,\
          \ `BA`, `CE`, `GO`, `MG`, `MS`, `MT`, `PE`, `PR`, `RS`, `SP`, `SVRS`.\r\n\
          \r\n*Caso não seja informado, será utilizado o ambiente autorizador da UF\
          \ do emitente.*"
        in: query
        name: autorizador
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSefazStatus'
          description: Successful response
      summary: Consulta do Status do Serviço na SEFAZ Autorizadora
      tags:
      - Nfce
  /nfce/{id}:
    get:
      description: Consulta os detalhes de uma NFC-e já existente. Forneça o ID único
        obtido de uma requisição de emissão ou de listagem de notas e a Nuvem Fiscal
        irá retornar as informações da nota correspondente.
      operationId: ConsultarNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Consultar NFC-e
      tags:
      - Nfce
  /nfce/{id}/cancelamento:
    get:
      operationId: ConsultarCancelamentoNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Consultar o cancelamento da NFC-e
      tags:
      - Nfce
    post:
      operationId: CancelarNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoCancelamento'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Cancelar uma NFC-e autorizada
      tags:
      - Nfce
      x-codegen-request-body-name: body
  /nfce/{id}/cancelamento/pdf:
    get:
      operationId: BaixarPdfCancelamentoNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do cancelamento
      tags:
      - Nfce
  /nfce/{id}/cancelamento/xml:
    get:
      operationId: BaixarXmlCancelamentoNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do cancelamento
      tags:
      - Nfce
  /nfce/{id}/escpos:
    get:
      description: "ESC/POS é um sistema de comando criado pela Epson usado em diversos\
        \ sistemas de impressoras POS.\r\n\r\nCom o formato ESC/POS, você poderá imprimir\
        \ nativamente em uma vasta quantidade de modelos de impressora térmicas utilizadas\
        \ no Brasil e no mundo. Com ela, você consegue fazer o envio de comandos em\
        \ ESC/POS direto para a porta da impressora."
      operationId: BaixarEscPosNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Modelo da impressora:\r\n* `0` - Texto\r\n* `1` - Epson\r\n\
          * `2` - Bematech\r\n* `3` - Daruma\r\n* `4` - Vox\r\n* `5` - Diebold\r\n\
          * `6` - Epson P2\r\n* `7` - CustomPos\r\n* `8` - Star\r\n* `9` - Zjiang\r\
          \n* `10` - GPrinter\r\n* `11` - Datecs\r\n* `12` - Sunmi\r\n* `13` - Externo"
        in: query
        name: modelo
        schema:
          default: 1
          type: integer
      - description: "Define o máximo de caracteres, em uma linha, usando a fonte\
          \ normal.\r\n\r\nEx: 40, 42, 48, 58, 80."
        in: query
        name: colunas
        schema:
          default: 48
          type: integer
      - description: "Imprime o QRCode na lateral do DANFCe.\r\n\r\nOBS: não suportado\
          \ por alguns modelos de impressora."
        in: query
        name: qrcode_lateral
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Comandos ESC/POS para impressão do DANFCE
      tags:
      - Nfce
  /nfce/{id}/pdf:
    get:
      operationId: BaixarPdfNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Imprime o documento com logotipo, desde que esteja cadastrado\
          \ na empresa."
        in: query
        name: logotipo
        schema:
          default: false
          type: boolean
      - description: "Imprime mensagem no rodapé do documento.\r\n\r\nO caractere\
          \ `|` (pipe) poderá ser utilizado para definir a quantidade e o alinhamento\
          \ das mensagens.\r\n\r\n**Exemplos de Uso:**\r\n* `\"esquerda\"`\r\n* `\"\
          esquerda|centro\"`\r\n* `\"esquerda|centro|direita\"`\r\n* `\"|centro\"\
          `, `\"|centro|\"`\r\n* `\"|centro|direita\"`\r\n* `\"||direita\"`\r\n* `\"\
          esquerda||direita\"`"
        in: query
        name: mensagem_rodape
        schema:
          type: string
      - description: "Poderá ser impresso apenas o DANFE NFC-e resumido ou ecológico,\
          \ sem o detalhamento dos itens da venda, desde que a Unidade Federada permita\
          \ esta opção em sua legislação e o consumidor assim o solicite."
        in: query
        name: resumido
        schema:
          default: false
          type: boolean
      - description: Imprime o QRCode na lateral do DANFE NFC-e.
        in: query
        name: qrcode_lateral
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do DANFCE
      tags:
      - Nfce
  /nfce/{id}/sincronizar:
    post:
      description: "Realiza a sincronização dos dados a partir da consulta da situaç\
        ão atual da NFC-e na Base de Dados do Portal da Secretaria de Fazenda Estadual.\r\
        \n\r\n**Cenários de uso**:\r\n* Sincronizar uma nota que se encontra com o\
        \ status `erro` na Nuvem Fiscal, mas está autorizada na SEFAZ (útil em casos\
        \ de erros de transmissão com a SEFAZ, como instabilidades e timeouts).\r\n\
        * Sincronizar uma nota que se encontra com o status `autorizado`na Nuvem Fiscal,\
        \ mas está cancelada na SEFAZ.\r\n* Sincronizar todos os eventos de Cancelamento,\
        \ Carta de Correção e EPEC de uma nota que porventura não tenham sido feitos\
        \ a partir da Nuvem Fiscal."
      operationId: SincronizarNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSincronizacao'
          description: Successful response
      summary: Sincroniza dados na NFC-e a partir da SEFAZ
      tags:
      - Nfce
  /nfce/{id}/xml:
    get:
      description: "Utilize esse endpoint para obter o XML da nota enviado para a\
        \ SEFAZ, complementado com a informação do protocolo de autorização ou denegaç\
        ão de uso (TAG raiz `nfeProc`).\r\n\r\nO XML só estará disponível nesse endpoint\
        \ caso a nota tenha sido autorizada ou denegada pela SEFAZ. Para obter o XML\
        \ nos demais casos, utilize o endpoint `GET /nfce/{id}/xml/nota`."
      operationId: BaixarXmlNfce
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da NFC-e processada
      tags:
      - Nfce
  /nfce/{id}/xml/nota:
    get:
      description: "Utilize esse endpoint para obter o XML da nota enviado para a\
        \ SEFAZ.\r\n\r\nO XML estará disponível nesse endpoint mesmo em casos que\
        \ a nota tenha sido rejeitada."
      operationId: BaixarXmlNfceNota
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da NFC-e
      tags:
      - Nfce
  /nfce/{id}/xml/protocolo:
    get:
      operationId: BaixarXmlNfceProtocolo
      parameters:
      - description: ID único da NFC-e gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do Protocolo da SEFAZ
      tags:
      - Nfce
  /nfcom:
    get:
      description: "Retorna a lista de NFCom de acordo com os critérios de busca utilizados.\
        \ As NFCom são retornadas ordenadas pela data da criação, com as mais recentes\
        \ aparecendo primeiro."
      operationId: ListarNfcom
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\n\r\nUtilize o valor\
          \ sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: Seu identificador único para o documento.
        in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      - description: Chave de acesso do DF-e.
        in: query
        name: chave
        schema:
          type: string
      - description: Série do DF-e.
        in: query
        name: serie
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeListagem'
          description: Successful response
      summary: Listar NFCom
      tags:
      - Nfcom
    post:
      operationId: EmitirNfcom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfcomPedidoEmissao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Emitir NFCom
      tags:
      - Nfcom
      x-codegen-request-body-name: body
  /nfcom/sefaz/status:
    get:
      description: "Consulta do status do serviço prestado pelo Portal da Secretaria\
        \ de Fazenda Estadual.\r\n\r\nA Nuvem Fiscal mantém a última consulta em cache\
        \ por 5 minutos, evitando sobrecarregar desnecessariamente os servidores da\
        \ SEFAZ."
      operationId: ConsultarStatusSefazNfcom
      parameters:
      - description: "CPF/CNPJ do emitente.\r\nUtilize o valor sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: "Ambiente Autorizador.\r\n\r\nAutorizadores disponíveis: `SVRS`.\r\
          \n\r\n*Caso não seja informado, será utilizado o ambiente autorizador da\
          \ UF do emitente.*"
        in: query
        name: autorizador
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeSefazStatus'
          description: Successful response
      summary: Consulta do Status do Serviço na SEFAZ Autorizadora
      tags:
      - Nfcom
  /nfcom/{id}:
    get:
      description: Consulta os detalhes de uma NFCom já existente. Forneça o ID único
        obtido de uma requisição de emissão ou de listagem de NFCom e a Nuvem Fiscal
        irá retornar as informações da NFCom correspondente.
      operationId: ConsultarNfcom
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Consultar NFCom
      tags:
      - Nfcom
  /nfcom/{id}/cancelamento:
    get:
      operationId: ConsultarCancelamentoNfcom
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Consultar o cancelamento da NFCom
      tags:
      - Nfcom
    post:
      operationId: CancelarNfcom
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfcomPedidoCancelamento'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeCancelamento'
          description: Successful response
      summary: Cancelar uma NFCom autorizada
      tags:
      - Nfcom
      x-codegen-request-body-name: body
  /nfcom/{id}/cancelamento/xml:
    get:
      operationId: BaixarXmlCancelamentoNfcom
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do cancelamento
      tags:
      - Nfcom
  /nfcom/{id}/xml:
    get:
      description: "Utilize esse endpoint para obter o XML da nota enviada para a\
        \ SEFAZ, complementado com a informação do protocolo de autorização de uso\
        \ (TAG raiz `nfcomProc`).\r\n\r\nO XML só estará disponível nesse endpoint\
        \ caso a nota tenha sido autorizada pela SEFAZ. Para obter o XML nos demais\
        \ casos, utilize o endpoint `GET /nfcom/{id}/xml/nota`."
      operationId: BaixarXmlNfcom
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da NFCom processada
      tags:
      - Nfcom
  /nfcom/{id}/xml/nota:
    get:
      description: "Utilize esse endpoint para obter o XML da nota enviada para a\
        \ SEFAZ.\r\n\r\nO XML estará disponível nesse endpoint mesmo em casos que\
        \ a nota tenha sido rejeitada."
      operationId: BaixarXmlNfcomNota
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da NFCom
      tags:
      - Nfcom
  /nfcom/{id}/xml/protocolo:
    get:
      operationId: BaixarXmlNfcomProtocolo
      parameters:
      - description: ID único da NFCom gerada pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do Protocolo da SEFAZ
      tags:
      - Nfcom
  /nfe:
    get:
      description: "Retorna a lista de notas de acordo com os critérios de busca utilizados.\
        \ As notas são retornadas ordenadas pela data da criação, com as mais recentes\
        \ aparecendo primeiro."
      operationId: ListarNfe
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\n\r\nUtilize o valor\
          \ sem máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - description: Seu identificador único para o documento.
        in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      - description: Chave de acesso do DF-e.
        in: query
        name: chave
        schema:
          type: string
      - description: Série do DF-e.
        in: query
        name: serie
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeListagem'
          description: Successful response
      summary: Listar NF-e
      tags:
      - Nfe
    post:
      operationId: EmitirNfe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfePedidoEmissao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dfe'
          description: Successful response
      summary: Emitir NF-e
      tags:
      - Nfe
      x-codegen-request-body-name: body
  /nfe/eventos:
    get:
      description: "Retorna a lista de eventos vinculados a um documento fiscal de\
        \ acordo com os critérios de busca utilizados. Os eventos são retornados ordenados\
        \ pela data da criação, com as mais recentes aparecendo primeiro."
      operationId: ListarEventosNfe
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: ID único gerado pela Nuvem Fiscal para o documento fiscal.
        in: query
        name: dfe_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEventoListagem'
          description: Successful response
      summary: Listar eventos
      tags:
      - Nfe
  /nfe/eventos/{id}:
    get:
      operationId: ConsultarEventoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeEvento'
          description: Successful response
      summary: Consultar evento
      tags:
      - Nfe
  /nfe/eventos/{id}/pdf:
    get:
      operationId: BaixarPdfEventoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF do evento
      tags:
      - Nfe
  /nfe/eventos/{id}/xml:
    get:
      operationId: BaixarXmlEventoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML do evento
      tags:
      - Nfe
  /nfe/inutilizacoes:
    post:
      operationId: InutilizarNumeracaoNfe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DfePedidoInutilizacao'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeInutilizacao'
          description: Successful response
      summary: Inutilizar uma sequência de numeração de NF-e
      tags:
      - Nfe
      x-codegen-request-body-name: body
  /nfe/inutilizacoes/{id}:
    get:
      operationId: ConsultarInutilizacaoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeInutilizacao'
          description: Successful response
      summary: Consultar a inutilização de sequência de numeração
      tags:
      - Nfe
  /nfe/inutilizacoes/{id}/pdf:
    get:
      operationId: BaixarPdfInutilizacaoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar PDF da inutilização
      tags:
      - Nfe
  /nfe/inutilizacoes/{id}/xml:
    get:
      operationId: BaixarXmlInutilizacaoNfe
      parameters:
      - description: ID único do evento gerado pela Nuvem Fiscal.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: Successful response
      summary: Baixar XML da inutilização
      tags:
      - Nfe
  /nfe/lotes:
    get:
      description: "Retorna a lista dos lotes de acordo com os critérios de busca\
        \ utilizados. Os lotes são retornados ordenados pela data da criação, com\
        \ os mais recentes aparecendo primeiro."
      operationId: ListarLotesNfe
      parameters:
      - description: "Limite no número de objetos a serem retornados pela API, entre\
          \ 1 e 100."
        in: query
        name: $top
        schema:
          default: 10
          type: integer
      - description: Quantidade de objetos que serão ignorados antes da lista começar
          a ser retornada.
        in: query
        name: $skip
        schema:
          default: 0
          type: integer
      - description: "Inclui no JSON de resposta, na propriedade `@count`, o número\
          \ total de registros que o filtro retornaria, independente dos filtros de\
          \ paginação."
        in: query
        name: $inlinecount
        schema:
          default: false
          type: boolean
      - description: "Filtrar pelo CPF ou CNPJ do emitente.\r\nUtilize o valor sem\
          \ máscara."
        in: query
        name: cpf_cnpj
        required: true
        schema:
          type: string
      - in: query
        name: referencia
        schema:
          type: string
      - description: "Identificação do Ambiente.\r\n\r\nValores aceitos: homologacao,\
          \ producao"
        in: query
        name: ambiente
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfeLoteListagem'
          description: Successful response
      summary: Listar lotes de NF-e
      tags:
      - Nfe
    post:
      operationId: EmitirLoteNfe
      requestBody:
        content:
          application/json:
            schema:
[...]
